:root
  --color-main #2a7ae4
  --color-mainlight #5595E9
  --color-mainalt #D4E4FA
  --color-mainneg #ffffff
  --color-text #464646
  --color-textalt #A2A2A2
  --color-bgmain #f5f5f5
  --color-bgalt #eaf2fd
  --color-inputborder #C8C8C8
  --padding-main 1.6rem
  --padding-large 3.2rem
  --maxwidth-desktop 120rem