doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    include includes/header.pug
    main
      section.content.adm_productlist
        header.products-header
          h2.titlemid.products-title Todos os produtos
          a(href="#").adm_productlist-add.button Adicionar produto
        ul.products-list
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_6FDXGY9J6y4.jpg", alt="Caneca Stormtrooper")
              h3.products-itemname Produto XYZ
              p.products-itemprice R$ 60,00
              p.products-code #0586748675309
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_epRFE_hBNjo.jpg", alt="Lego Darth Vader")
              h3.products-itemname Produto XYZ
              p.products-itemprice R$ 60,00
              p.products-code #9421139476046
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_KeGToDVN0l4.jpg", alt="Figure Mestre Yoda")
              h3.products-itemname Produto XYZ
              p.products-itemprice R$ 60,00
              p.products-code #0212822771864
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_4OHkK555s1A.jpg", alt="Figure Stormtrooper")
              h3.products-itemname Produto XYZ
              p.products-itemprice R$ 60,00
              p.products-code #1292606147305
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_R8L1l9RN198.jpg", alt="Figure Baby Yoda")
              h3.products-itemname Produto XYZ
              p.products-itemprice R$ 60,00
              p.products-code #1141625391087
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_1VV1MRafd7A.jpg", alt="Figure Kylo Ren")
              h3.products-itemname Produto XYZ
              p.products-itemprice R$ 60,00
              p.products-code #0117921436921
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_0POwK6iAiRQ.jpg", alt="Controle Xbox one")
              h3.products-itemname Controle XYZ
              p.products-itemprice R$ 60,00
              p.products-code #4996826349576
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_caNzzoxls8Q.jpg", alt="Playstation 5")
              h3.products-itemname Controle e console XYZ
              p.products-itemprice R$ 60,00
              p.products-code #4733499041259
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_ZV7lnfyQLmA.jpg", alt="Console NES Retro")
              h3.products-itemname Console XYZ
              p.products-itemprice R$ 60,00
              p.products-code #2862874543360
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_wa5z9o9fgjw.jpg", alt="Joycon Switch")
              h3.products-itemname Controle XYZ
              p.products-itemprice R$ 60,00
              p.products-code #6694771239277
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_Zjn4dT993-g.jpg", alt="XBox Series X")
              h3.products-itemname Console XYZ
              p.products-itemprice R$ 60,00
              p.products-code #5688710473052
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_k-xYhI3-gJM.jpg", alt="Game Boy")
              h3.products-itemname Controle XYZ
              p.products-itemprice R$ 60,00
              p.products-code #2372940349005
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_fMP-oCze3AY.jpg", alt="Camiseta Atari")
              h3.products-itemname Camisa Atari
              p.products-itemprice R$ 60,00
              p.products-code #2944124620882
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_bUgaIaZysH0.jpg", alt="Camiseta controle NES")
              h3.products-itemname Camisa SNES
              p.products-itemprice R$ 60,00
              p.products-code #5167072130778
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_sYVY_ZKwaxU.jpg", alt="Figure Sonic")
              h3.products-itemname Controle e console XYZ
              p.products-itemprice R$ 60,00
              p.products-code #4694346541271
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_jMT6BrgBuXU.jpg", alt="Rádio relógio pink")
              h3.products-itemname Rádio relógio pink retrô com Alexa e Gooogle assistente integradas
              p.products-itemprice R$ 60,00
              p.products-code #3872678950331
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_MxVkWPiJALs.jpg", alt="Headset VR")
              h3.products-itemname VR
              p.products-itemprice R$ 60,00
              p.products-code #14669530299603872678950331
          li.products-item
            .products-itembox
              .products-manage
                a(href="#") delete
                a(href="#") edit
              img(src="images/unsplash_r27umXAelDc.jpg", alt="Pikachu gigante")
              h3.products-itemname Controle e console XYZ
              p.products-itemprice R$ 60,00
              p.products-code #3765666143863
    include includes/footer.pug
