doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    include includes/header.pug
    main
      section.content.login
        .login-box
          h1.login-title Iniciar Sessão
          form(action="admin-productlist.html").form
            div.login-email.form-field
              input#email(type="text", placeholder=" ").form-fieldinput
              label(for="email").form-label Escreva seu email
            div.login-pwd.form-field
              label(for="password").form-label Escreva sua senha
              input#password(type="password", placeholder=" ").form-fieldinput
            button(type="submit").login-button.button Entrar
    include includes/footer.pug
