doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title AluraGeek
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    link(rel="stylesheet", href="css/main.css")
  body
    include includes/header.pug
    main
      section.login
        .login-box
          h1.login-title Iniciar Sessão
          form.form
            div.login-email.form-field
              input#email(type="text", placeholder=" ").form-fieldinput
              label(for="email").form-label Escreva seu email
            div.login-pwd.form-field
              label(for="password").form-label Escreva sua senha
              input#password(type="password", placeholder=" ").form-fieldinput
            button(type="submit").login-button.button Entrar
    include includes/footer.pug
