header.mainheader
  nav.mainnav
    a(href="index.html").mainnav-logo
      img(src="images/alurageek-logo.svg", alt="Logotipo AluraGeek")
    label(for="showsearch").mainnav-searchicon busca
    input#showsearch(type="checkbox").mainnav-showsearch
    form.search
      input#search(type="search", placeholder="O que deseja encontrar?").search-fieldinput
      button(type="submit", aria-label="Busca").material-icons.search-button search
    a(href="login.html").mainnav-login.button.button_alt Login